<html>
    <body>
        <p>
            Welcome <strong>{{ name }}</strong>! 
            <a href="{{ url_for('index') }}">log out</a>
        </p>

        {% if notstarted %}
            The requested data job has been queued and will start soon. Please
            refresh to check the updated status.
        {% endif %}

        {% if failed %}
            The requested data job has failed. Please contact the support team
            to find the issue or <a href="{{ url_for('upload', login = login) }}">try again</a>.
            We apologize for the inconvenience.
        {% endif %}

        {% if progress %}
            The requested data job is <strong>{{ progress }}%</strong> complete!
            Please refresh to check the updated status.
        {% endif %}

        {% if cursubdir %}
            The requested data job is complete! Please
            <a href = "{{ url_for('files', login = login, subdir = cursubdir) }}">click here</a>
            to download.
        {% endif %}

        <p><a href="{{ url_for('upload', login = login) }}">Make a new request</a></p>
        
        {% if subdirs %}
            <p>List of completed data jobs from this account:</p>
            {% for subdir in subdirs %}
                <li><a href="{{ url_for('files', login = login, subdir = subdir) }}">{{ subdir }}</a></li>
            {% endfor %}
        {% endif %}

    </body>
</html>
