<html>
    <body>
        
        {% if notstarted %}
            Hi <strong>{{ name }}</strong>! The requested data job has been
            queued and will start soon.
        {% elif failed %}
            Hi <strong>{{ name }}</strong>! The requested data job has failed.
            Please contact the support team to find the issue or try again. We 
            apologize for the inconvenience.
        {% elif done %}
            <p>Congratulations <strong>{{ name }}!</strong> The requested data
            job is complete! Please <a href="{{ done }}">click here</a> to download</p>
        {% elif progress %}
            <p>Congratulations <strong>{{ name }}!</strong> The requested data
            job is <strong>{{ progress }}%</strong> complete! </p>
        {% endif %}
        
        <p>Here is the list of all the jobs you requested till date:</p>
        

    </body>
</html>
