<html>
    <body>
        <p>Please upload a csv file ensuring the following conditions:</p>
        <ul>
            <li>First column contains the phone number of users</li>
            <li>Second column contains the email addresses of the users</li>
        </ul>

        <p>
            <strong>Note:</strong> We ignore any other data, if provided.
        </p>

        <form action = "/submit" method = "POST" enctype = "multipart/form-data">
            <input type = "file" name = "file" />
            <input type = "hidden" name = "login" value = "{{ login }}" />
            <input type = "submit" />
        </form>

    </body>
</html>